ul{
    list-style-type: none;
}

.navbar_inner{
    width: 100%;
    box-shadow: 2px 1px 2px #eee;
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    align-items: center;
}

.zerodha_logo img{
    height: 18px;
    margin-left: 65px;
    margin-right: 35vw;
}

.navbar_inner a{
    text-decoration: none;
    margin-right: 33px;
    margin-left: 18px;
    color: gray  
}

.container{
    text-align: center;
    margin-bottom: 100px;
}

.landing-image{
    max-height: 40vh;
    margin: 50px 25vw;
}

.sign_btn{
    background-color: skyblue;
    border-radius: 8px;
    padding: 8px;
}